* {
  /* box-sizing: border-box; */
}

input:focus {
  border: 2px solid #ff6600;
  background-color: #fff;
}

body {
  /* TODO */
  background: linear-gradient(0.25turn, rgb(255, 200, 0), 40%, rgb(255, 70, 0));
}

input {
  /* TODO */
  padding: 15px 10px;
  border: none;
  border-bottom: 2px solid rgb(255, 100, 0);
  border-radius: 5px;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* This change is what put the suggestions under the input value not on the side */
  flex-direction: column;
}
.search-container input {
  background: rgb(255, 255, 255);
}
.search-container .suggestions {
  padding: 15px 10px;
  width: 165px;
  max-height: 150px;
  overflow-y: auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  background: white;
  border-bottom: 1px solid #eee;
  padding: 10 px;
}
ul li:lastchild {
  border-bottom: none;
}
ul li:hover {
  background-color: #eee;
  cursor: pointer;
}
ul li a {
  color: black;
  text-decoration: none;
}
